/*========== Start Header  ==========*/
.yoo-side-heading {
  height: 60px;
  background-color: $main-color;
  border-bottom: 1px solid $base-color4;
  position: relative;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.yoo-header {
  position: relative;
  z-index: 101;
  background: $indigo-color;
}

.yoo-header.yoo-sticky-menu {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 103;
}

.yoo-header.yoo-style1 .yoo-main-header {
  position: relative;
}

.yoo-header.yoo-style1 .yoo-main-header-in {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yoo-header.yoo-style2 {
  border-top: 1px solid $base-color4;
  border-bottom: 1px solid $base-color4;
}

/*Style2*/
.yoo-header.yoo-style1 .yoo-main-header {
  position: relative;
}

.yoo-header.yoo-style2 .yoo-main-header-in {
  height: 60px;
  display: flex;
  align-items: center;
}

/*=== Logo Area ===*/
.yoo-site-title {
  font-size: 20px;
  font-weight: 700;
  color: $base-color1;
}

.yoo-site-title a {
  color: inherit;
}

.yoo-logo-link img {
  display: block;
  height: 32px;
}

/*End Logo Area*/

/*Horizontal Menu Area*/
.yoo-nav-wrap {
  display: flex;
  align-items: center;
}

.yoo-nav-wrap,
.yoo-desktop-nav.yoo-nav,
.yoo-desktop-nav .yoo-nav-list {
  height: 100%;
}

.yoo-nav-list>li>a>i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.yoo-nav-list>li>a:hover>i {
  color: rgba(255, 255, 255, 0.85);
}

.yoo-nav.yoo-desktop-nav {
  display: block !important;
}

.yoo-desktop-nav .yoo-nav-list {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.yoo-desktop-nav .yoo-nav-list>li {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.yoo-desktop-nav .yoo-nav-list>li:first-child {
  margin-left: 0;
}

.yoo-desktop-nav .yoo-nav-list>li>a {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
  border-radius: 4px 4px 0 0;
}

.yoo-desktop-nav .yoo-nav-list>li:hover>a {
  color: $main-color;
}

.yoo-nav-list>li>a {
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.yoo-nav-label {
  color: rgba(255, 255, 255, 0.9);
  font-size: 9px;
  font-weight: 500;
  line-height: 1.7em;
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
}

.yoo-nav-label.yoo-style1 {
  position: relative;
  top: -6px;
  margin-left: 5px;
}

.yoo-nav-label.yoo-color1 {
  background: $green-color;
}

.yoo-nav-label.yoo-color2 {
  background: $blue-color;
}

.yoo-nav-label.yoo-style2 {
  background-color: $blue-color;
  margin-left: auto;
}

/*=== Horizontal Dropdown ===*/

.yoo-desktop-nav .yoo-nav-list>li>a.active {
  color: $base-color3;
}

.yoo-nav .yoo-dropdown {
  border-radius: 4px;
}

.yoo-nav-list ul a,
.yoo-profile-nav .yoo-dropdown a {
  color: $base-color1;
  padding: 9px 20px;
  display: block;
  font-size: 14px;
}

.yoo-desktop-nav .yoo-nav-list .yoo-sub-megamenu-list li a:hover {
  background: transparent;
}

.yoo-desktop-nav .yoo-nav-list ul a:hover,
.yoo-desktop-nav .yoo-nav-list .yoo-sub-megamenu-list li.active a {
  background-color: $base-color4;
}

.yoo-dropdown.yoo-style1 li a {
  display: flex;
  align-items: center;
}

.yoo-dropdown.yoo-style1 li i {
  font-size: 24px;
  color: $base-color3;
  flex: none;
  margin-right: 16px;
}

/*Style 2,3,4*/
.yoo-dropdown.yoo-style2 li,
.yoo-dropdown.yoo-style3 li,
.yoo-dropdown.yoo-style4 li,
.yoo-dropdown.yoo-style5 li {
  padding: 0 10px;
}

.yoo-dropdown.yoo-style2 a,
.yoo-dropdown.yoo-style3 a,
.yoo-dropdown.yoo-style4 a {
  padding: 7px 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.yoo-dropdown.yoo-style3 .yoo-dropdown-cta a:hover,
.yoo-dropdown.yoo-style4 .yoo-dropdown-cta a:hover {
  padding-left: 10px;
}

.yoo-dropdown.yoo-style2 .yoo-subdropdown-title,
.yoo-dropdown.yoo-style3 .yoo-subdropdown-title,
.yoo-dropdown.yoo-style4 .yoo-subdropdown-title,
.yoo-dropdown.yoo-style5 .yoo-subdropdown-title,
.yoo-dropdown.yoo-style6 .yoo-subdropdown-title,
.yoo-dropdown.yoo-style7 .yoo-subdropdown-title {
  font-size: 16px;
  color: $base-color1;
  font-weight: 500;
  padding: 7px 20px 5px !important;
}

.yoo-dropdown.yoo-style1 .yoo-dropdown-cta,
.yoo-dropdown.yoo-style2 .yoo-dropdown-cta,
.yoo-dropdown.yoo-style3 .yoo-dropdown-cta,
.yoo-dropdown.yoo-style4 .yoo-dropdown-cta {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid $base-color4;
}

.yoo-dropdown.yoo-style2 li i,
.yoo-dropdown.yoo-style3 li i {
  display: inline-block;
  margin-right: 8px;
  width: 13px;
  transition: all 0.35s ease;
}

.yoo-dropdown.yoo-style4 li a:hover i {
  width: 9px;
  margin-right: 4px;
}

/*Style 5,6,7*/
.yoo-desc-title {
  font-size: 16px;
  line-height: 1.25em;
  margin-bottom: 2px;
  color: $base-color1;
}

.yoo-desc-cat {
  display: block;
  color: $base-color2;
  line-height: 1.25em;
  font-size: 14px;
}

.yoo-dropdown.yoo-style5 a,
.yoo-dropdown.yoo-style6 a,
.yoo-dropdown.yoo-style7 a {
  display: flex;
  align-items: center;
}

.yoo-dropdown.yoo-style5 a {
  padding: 9px 10px;
}

.yoo-dropdown.yoo-style6 a,
.yoo-dropdown.yoo-style7 a {
  padding: 10px 20px;
}

.yoo-desc-box {
  flex: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.yoo-desc-box i {
  font-size: 21px;
}

.yoo-desc-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*=== Horizontal Mobile Menu Style ===*/

.yoo-mobile-nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #212121;
  padding: 20px 0;
}

.yoo-mobile-nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-left: 15px;
}

.yoo-mobile-nav .yoo-nav-list ul {
  display: none;
}

.yoo-mobile-nav .yoo-nav-list>li>a {
  padding: 8px 0px;
  display: flex;
}

.yoo-mobile-nav .yoo-nav-list ul a {
  padding-left: 0;
  padding-right: 0;
}

.yoo-sub-megamenu-in {
  display: none;
}

.yoo-sub-megamenu-in.active {
  display: block;
}

.yoo-nav.yoo-mobile-nav {
  max-height: calc(100vh - 60px);
  overflow: auto;
}

.yoo-mobile-nav .yoo-nav-list .yoo-megamenu-list {
  display: block;
}

.yoo-mobile-nav .yoo-megamenu-title {
  padding: 7px 15px;
}

.yoo-mobile-nav .yoo-nav-list .yoo-megamenu-list a {
  padding-left: 10px;
  padding-right: 10px;
}

.yoo-mobile-nav .yoo-megamenu-in {
  display: none;
}

.yoo-mobile-nav .yoo-dropdown-btn {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 9px;
  cursor: pointer;
  z-index: 1;
}

.yoo-mobile-nav .yoo-dropdown-btn:before,
.yoo-mobile-nav .yoo-dropdown-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 8px;
  background-color: rgba(255, 255, 255, 0.38);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.yoo-mobile-nav .yoo-dropdown-btn:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.yoo-mobile-nav .yoo-dropdown-btn.yoo-active:before {
  transform: translate(-50%, -50%) rotate(0deg);
}

/*End Horizontal Mobile Menu*/

/*=== Mobile Menu Button ===*/

.yoo-nav-toggle {
  position: relative;
  cursor: pointer;
  font-size: 23px;
  display: flex;
  color: rgba(255, 255, 255, 0.38);
  margin-left: -9px;
  display: none;

  &.yoo-active {
    color: rgba(255, 255, 255, 0.6);
  }
}

/*Ene Mobile Menu Button*/

/*=== Horizontal Menu Animation Efect ===*/
.yoo-fade-up .yoo-desktop-nav .yoo-nav-list .yoo-has-children>ul {
  margin-top: 15px;
}

.yoo-fade-up .yoo-desktop-nav .yoo-has-children:hover>ul {
  margin-top: 0px;
}

.yoo-fade-up .yoo-desktop-nav .yoo-nav-list .yoo-dropdown.yoo-style1 ul {
  margin-left: 0;
  padding: 10px 0;
  list-style: none;
  position: absolute;
  background-color: $main-color;
  width: 100%;
  left: 100%;
  top: 0;
  margin-top: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border: 1px solid $base-color4;
}

.yoo-fade-up .yoo-desktop-nav .yoo-nav-list .yoo-dropdown.yoo-style1 .yoo-has-children:hover>ul {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.yoo-fade-up .yoo-desktop-nav .yoo-has-children .yoo-megamenu-in {
  margin-top: 15px;
}

.yoo-fade-up .yoo-desktop-nav .yoo-has-children:hover .yoo-megamenu-in {
  margin-top: -10px;
}

.yoo-fade-down .yoo-desktop-nav .yoo-nav-list .yoo-has-children>ul {
  margin-top: -20px;
  transition: all 0.3s ease;
}

.yoo-fade-down .yoo-desktop-nav .yoo-has-children:hover>ul {
  margin-top: -10px;
}

.yoo-fade-down .yoo-desktop-nav .yoo-has-children .yoo-megamenu-in {
  margin-top: -20px;
  transition: all 0.3s ease;
}

.yoo-fade-down .yoo-desktop-nav .yoo-has-children:hover .yoo-megamenu-in {
  margin-top: -10px;
}

/*Ene Horizontal Menu Animation Effect*/

/*=== Menu Responsive Style ===*/
@media screen and (min-width: 991px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {

  .yoo-nav-toggle,
  .yoo-megamenu.yoo-style3 .yoo-sub-megamenu-list,
  .yoo-megamenu.yoo-style4 .yoo-sub-megamenu-list,
  .yoo-megamenu.yoo-style5 .yoo-sub-megamenu-list {
    display: block;
  }

  .yoo-nav.yoo-mobile-nav,
  .yoo-megamenu.yoo-style3 .yoo-sub-megamenu,
  .yoo-megamenu.yoo-style4 .yoo-sub-megamenu,
  .yoo-megamenu.yoo-style5 .yoo-sub-megamenu,
  .yoo-megamenu.yoo-style3 .yoo-megamenu-in {
    display: none;
  }

  .yoo-header .container {
    max-width: 100%;
  }

  .yoo-megamenu.yoo-style3 .yoo-sub-megamenu-list,
  .yoo-megamenu.yoo-style4 .yoo-sub-megamenu-list,
  .yoo-megamenu.yoo-style5 .yoo-sub-megamenu-list {
    width: 100%;
    padding: 0px 15px;
  }

  .yoo-megamenu.yoo-style2 .yoo-megamenu-in {
    padding: 0;
  }

  .yoo-dropdown.yoo-style2 li,
  .yoo-dropdown.yoo-style3 li,
  .yoo-dropdown.yoo-style4 li,
  .yoo-dropdown.yoo-style5 li,
  .yoo-dropdown.yoo-style6 li,
  .yoo-dropdown.yoo-style7 li {
    padding-left: 0;
    padding-right: 0px;
  }

  .yoo-dropdown.yoo-style2 a,
  .yoo-dropdown.yoo-style3 a,
  .yoo-dropdown.yoo-style4 a {
    padding-left: 0;
    padding-right: 0;
  }

  .yoo-dropdown.yoo-style2 .yoo-dropdown-cta,
  .yoo-dropdown.yoo-style3 .yoo-dropdown-cta,
  .yoo-dropdown.yoo-style4 .yoo-dropdown-cta {
    margin-top: 0;
    padding-top: 0;
    border: none;
  }

  .yoo-dropdown.yoo-style2 .yoo-subdropdown-title,
  .yoo-dropdown.yoo-style3 .yoo-subdropdown-title,
  .yoo-dropdown.yoo-style4 .yoo-subdropdown-title,
  .yoo-dropdown.yoo-style5 .yoo-subdropdown-title,
  .yoo-dropdown.yoo-style6 .yoo-subdropdown-title,
  .yoo-dropdown.yoo-style7 .yoo-subdropdown-title {
    padding-left: 0 !important;
  }

  .yoo-dropdown.yoo-style5 a,
  .yoo-dropdown.yoo-style6 a,
  .yoo-dropdown.yoo-style7 a {
    padding-left: 0;
    padding-right: 0;
  }

  .yoo-mobile-nav {
    border-bottom: 1px solid $base-color4;
  }

  .yoo-megamenu.yoo-style2 .container {
    padding-left: 15px;
  }

  .yoo-megamenu.yoo-style6 .yoo-megamenu-in {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .yoo-header.yoo-style2 .yoo-main-header-in {
    justify-content: space-between;
  }

  .yoo-nav .yoo-has-children .yoo-dropdown {
    position: initial;
    opacity: initial;
    visibility: visible;
    width: calc(100% - 15px);
    display: none;
    transition: initial;
  }

}

/*End Menu Responsive*/

/*=== Vertical Menu Style ===*/
.yoo-vertical-nav-wrap {
  height: 100%;
  width: 240px;
  margin-right: 30px;
}

.yoo-vertical-nav-btn {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $indigo-color;
  color: $main-color;
  padding: 10px 20px;
  border-radius: 4px 4px 0 0;
  width: 100%;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.yoo-vertical-nav-btn i {
  margin-right: 8px;
}

.yoo-vertical-nav.yoo-style1 {
  width: 240px;
}

.yoo-vertical-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $main-color;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.yoo-desktop-nav .yoo-vertical-nav-btn.yoo-vertical-nav-perform {
  pointer-events: none;
}

.yoo-vertical-nav-list li a {
  font-size: 14px;
  color: $base-color2;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 100%;
  line-height: 1.65em;
}

.yoo-vertical-nav-list .yoo-vertical-cta>a {
  font-size: 12px;
  font-weight: 700;
  padding: 11px 20px;
  line-height: 1.5em;
}

.yoo-vertical-nav-list>li {
  border-bottom: 1px solid $base-color4;
}

.yoo-vertical-nav-list>li:last-child {
  border-bottom: none;
}

.yoo-vertical-nav-list li a:hover {
  background-color: $base-color6;
}

.yoo-vertical-nav-list>li>a>i {
  margin-right: 10px;
}

.yoo-desktop-nav .yoo-has-children.yoo-vertical-megamenu {
  position: initial;
}

.yoo-vertical-arrow {
  display: inline-block;
  background-image: url(../img/arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 8px;
  width: 8px;
  transform: rotate(-90deg);
  margin-left: 7px;
  flex: none;
}

.yoo-desktop-nav .yoo-vertical-megamenu-in {
  position: absolute;
  left: 100%;
  margin-left: 0;
  width: calc(1170px - 240px);
  min-height: 100%;
  background: $main-color;
  top: 0;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  border-left: 1px solid $base-color4;
  border-top: 1px solid $base-color4;
}

.yoo-has-children:hover .yoo-vertical-megamenu-in {
  opacity: 1;
  visibility: visible;
}

.yoo-vertical-megamenu-in .container {
  padding: 0;
}

.yoo-vertical-megamenu-in .row {
  margin: 0;
}

.yoo-vertical-megamenu-in .row>div {
  padding: 0;
  border-top: 1px solid $base-color4;
  margin-top: -1px;
}

.yoo-desktop-nav.yoo-vertical-nav-wrap .yoo-megamenu-col {
  border-right: none;
}

/*Vertical Mobile menu*/
.yoo-vertical-nav-wrap.yoo-mobile-nav {
  position: relative;
  top: 0;
  padding: 0;
}

.yoo-mobile-nav .yoo-has-children .yoo-vertical-arrow {
  display: none;
}

.yoo-mobile-nav .yoo-vertical-nav-list {
  padding-left: 0;
  display: block !important;
  height: initial !important;
}

.yoo-mobile-nav .yoo-vertical-nav-list li a {
  padding-left: 15px;
  padding-right: 15px;
}

.yoo-mobile-nav .yoo-vertical-nav.yoo-style1 {
  max-height: calc(100vh - 60px);
  overflow: auto;
  border: 1px solid $base-color4;
  border-radius: 4px;
  width: 240px;
  margin-left: -300px;
  transition: all 0.4s ease;
}

.yoo-mobile-nav .yoo-mobile-active+.yoo-vertical-nav.yoo-style1 {
  margin-left: 0;
}

.yoo-mobile-nav .yoo-vertical-nav-list {
  width: 100%;
}

.yoo-mobile-nav .yoo-vertical-megamenu-in {
  display: none;
}

.yoo-mobile-nav .yoo-vertical-megamenu-in .row>div {
  margin-top: 0;
}

.yoo-mobile-nav .yoo-megamenu-col {
  padding: 10px 0;
}

/*End Vertical Menu Style*/
/*=== Vertical Menu Animation Efect ===*/
.yoo-fade-left.yoo-desktop-nav .yoo-vertical-megamenu-in {
  margin-left: -30px;
  transition: all 0.4s ease;
}

.yoo-fade-left.yoo-desktop-nav .yoo-has-children:hover .yoo-vertical-megamenu-in {
  margin-left: 0px;
}

.yoo-fade-left.yoo-desktop-nav .yoo-has-children .yoo-vertical-megamenu-in {
  display: block !important;
}

/*End Vertical Menu Animation Efect*/

// New CSS
.yoo-main-header-left {
  width: 270px;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  transition: all 0.3s ease;
}

.yoo-main-header-right {
  padding: 0 30px;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

// Extra Menu
.yoo-profile-nav.yoo-style1 {
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);

  .yoo-profile-nav-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  .yoo-profile-nav-text {
    text-align: right;
    margin-right: 8px;

    span {
      color: rgba(255, 255, 255, 0.38);
      font-size: 12px;
      display: block;
      line-height: 1.3em;
    }

    h4 {
      margin-bottom: 0;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 500;
    }
  }

  .yoo-profile-nav-img {
    flex: none;
    border-radius: 50%;
    overflow: hidden;
    height: 32px;
    width: 32px;
  }
}

.yoo-ex-nav-btn {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  padding: 8px 0;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.yoo-toggle-body:hover .yoo-ex-nav-btn {
  color: #fff;
}

.yoo-toggle-body .yoo-ex-nav-btn.active {
  border-radius: 4px 4px 0 0;
}

.yoo-ex-nav-label {
  position: absolute;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.9);
  background-color: $red-color;
  line-height: 1.4em;
  padding: 0 4px;
  border-radius: 50%;
  top: 5px;
  right: 0px;
  transform: translateX(40%);
  z-index: 2;
  min-width: 15px;
}

.yoo-ex-nav.yoo-style1>li:not(:last-child) {
  margin-right: 20px;
}

.yoo-search-btn,
.yoo-message-btn,
.yoo-notice-btn,
.yoo-app-btn {
  &.yoo-toggle-btn {
    i {
      z-index: 1;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 40px;
      width: 40px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.5s ease;
    }

    &:before {
      opacity: 0;
    }

    &:after {
      transform: translate(-50%, -50%) scale(0);
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    &.active {
      &:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

.yoo-notice-area.yoo-style1 .yoo-ex-nav-label {
  transform: translateX(20%);
}

.yoo-toggle-body {
  position: relative;

  .yoo-dropdown.yoo-style1 {
    left: initial;
    right: 0;
    margin-top: 10px;

    &.active {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
    }
  }

  .yoo-dropdown.yoo-notify-dropdown {
    left: initial;
    right: 0;
    margin-top: 10px;
    width: 400px;
    padding: 0;

    &.active {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
    }
  }

  &.yoo-start-left {
    .yoo-dropdown.yoo-notify-dropdown {
      right: inherit;
      left: 0;
    }
  }
}

// Notify List
.yoo-notify-dropdown {
  .yoo-btn.yoo-style2 {
    padding: 8px 15px 7px;
    background-color: $base-color5;

    i {
      margin-left: -2px;
    }

    &:hover {
      background-color: $base-color5;
    }
  }
}

.yoo-msg {
  line-height: 1.45em;
  margin-top: 2px;
}

.yoo-nofify-list.yoo-style1 {
  background: $main-color;

  li {

    >a,
    .yoo-nofify-list-in {
      display: flex;
      padding: 13px 15px;
      position: relative;
      transition: all 0.3s ease;

      &.active {
        background-color: $base-color6;
      }

      &:hover {
        background-color: $base-color5;
        color: $base-color2;
      }
    }

    border-bottom: 1px solid $base-color4;

    .yoo-nofify-list-in {
      .yoo-nofify-text-head {
        color: $base-color1;

        a {
          color: $base-color1;

          &:hover {
            color: rgba($base-color1, 0.9);
          }
        }
      }
    }
  }

  .yoo-nofify-thumb {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex: none;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .yoo-nofify-text {
    flex: 1;
    position: relative;

    .yoo-nofify-text-head {
      font-size: 16px;
      margin-bottom: 1px;
      font-weight: 400;
      line-height: 1.2em;
    }

    .yoo-notify-time {
      color: $base-color3;
      line-height: 1em;
      font-size: 14px;
    }

    strong {
      font-weight: 500;
    }

    span {
      color: $base-color2;
    }

    .yoo-msg+.yoo-notify-time {
      font-size: 12px;
    }
  }

  .yoo-online-status {
    margin-left: 4px;
    margin-bottom: 2px;
  }
}

.yoo-message-area .yoo-nofify-list.yoo-style1 .yoo-nofify-text {
  .yoo-notify-time {
    position: absolute;
    top: 2px;
    right: 0;
  }
}

.yoo-nofify-list.yoo-style2 {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px 0;

  li {
    width: 33.333333%;
    margin-bottom: 10px;
    padding: 0px 5px;
  }

  a {
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 20px 0;

    &:hover {
      border-color: $base-color4;
    }
  }

  .yoo-nofify-icon {
    margin: auto;
    margin-top: 5px;
  }

  .yoo-nofify-text {
    h3 {
      text-align: center;
      font-size: 13px;
      color: $base-color2;
      font-weight: 400;
      margin-bottom: 3px;
      margin-top: 9px;
    }
  }

  .yoo-nav-icon {
    text-align: center;
  }
}

.yoo-nofify-title {
  font-size: 16px;
  margin-bottom: 0;
  padding: 12px 15px;
  border-bottom: 1px solid $base-color4;
  display: flex;
  justify-content: space-between;
  font-weight: 500;

  .yoo-nofify-title-right {
    font-size: 14px;
    font-weight: 500;
    color: $base-color3;
  }

  a {
    &:hover {
      color: $base-color2;
    }
  }
}

.yoo-nofify-icon {
  flex: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 21px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


/* Start Search Area */
.yoo-search.yoo-style1 {
  position: relative;

  .yoo-search-input {
    width: 100%;
    border: 1px solid $base-color4;
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 4px;
    transition: all 0.4s ease;
    color: $base-color2;
    padding-left: 32px;

    &:focus {
      outline: none;
    }
  }

  .yoo-toggle-cross {
    position: absolute;
    height: 100%;
    width: 32px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid transparent;
    padding-bottom: 1px;
    color: $base-color3;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: $base-color2;
    }
  }

  .yoo-search-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
    color: $base-color3;
    font-size: 20px;
    transition: all 0.3s ease;

    &:hover {
      color: $base-color2;
    }
  }
}

.yoo-dropdown.active .yoo-search-input {
  border-radius: 4px;
}

.yoo-search-area.yoo-toggle-body .yoo-dropdown {
  border: none;
  box-shadow: none;
  width: 120px;
  padding: 0;
  top: 2px;
  left: initial;
  right: 0;
}

.yoo-search-area.yoo-toggle-body.yoo-start-left .yoo-dropdown {
  right: inherit;
  left: 0;
}

.yoo-search-area.yoo-toggle-body .yoo-dropdown.active {
  opacity: 1;
  visibility: visible;
  width: 250px;
}

.yoo-search-area.yoo-toggle-body .yoo-toggle-btn.active {
  visibility: hidden;
}

/* End Search Area */

.yoo-header.yoo-sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.yoo-header.yoo-style3 {
  padding: 30px 40px;
  padding-right: 70px;
  transition: all 0.3s ease;

  .yoo-main-header-in {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .yoo-main-header-left {
    border: none;
  }

  .yoo-main-header-right {
    flex: none;
    padding: 0;
  }

  .yoo-nav-list>li>a {
    color: $base-color2;
    font-size: 14px;
    padding: 13px 10px;
  }

  .yoo-desktop-nav .yoo-has-children .yoo-megamenu-in {
    left: initial;
    right: 0;
  }

  .yoo-has-children.yoo-megamenu {
    position: initial;
  }

  .yoo-desktop-nav .yoo-nav-list>li:hover>a {
    background-color: transparent;
    color: $base-color1;
  }
}

.yoo-header.yoo-style3.yoo-sticky-header.yoo-sticky-active {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: $indigo-color;
}

.nav-item a,
.nav-pills .nav-link {
  color: $base-color2;
  letter-spacing: 0.17px;
}

.nav-item a.dropdown-item {
  color: $base-color2;
}

.nav-item a.dropdown-item.active {
  color: $indigo-color;
  background-color: rgba($indigo-color, 0.1);
}

.navbar-light .navbar-brand {
  color: $base-color1;
  font-weight: 500;
}

.navbar.flex-column .nav {
  width: 100%;
}

.navbar.flex-column {
  padding: 10px;
}

.navbar.flex-column .nav {
  width: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: rgba($indigo-color, 0.1);
  color: $indigo-color;
}

.nav-item .nav-link:hover {
  color: $indigo-color;
}

.nav-item .nav-link.active {
  color: $indigo-color;
}

.nav-link.disabled {
  color: $base-color3;
}

.nav-tabs {
  border-color: $base-color4
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.6);
  padding: 14px 20px;
  border: none;
  position: relative;

  &:hover {
    color: $indigo-color;
    border-color: transparent;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #fff;
  border: none;
  background: transparent;
}

.nav-tabs .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background-color: $indigo-color;
  transition: all 0.3s ease;
}

.nav-tabs .nav-item.show .nav-link:before,
.nav-tabs .nav-link.active:before {
  width: 100%;
}

.nav-tabs .nav-item {
  text-align: center;
}

.nav-tabs {
  .nav-link {
    border-radius: 0;

    .yoo-tab-icon {
      color: $base-color3;
      font-size: 24px;
      display: inline-flex;
      margin-right: 10px;
    }

    &.active {
      .yoo-tab-icon {
        color: $indigo-color;
      }
    }

    &:hover {
      background-color: rgba($indigo-color, 0.1);
    }
  }
}

.yoo-analytics-tab {
  &.nav-tabs {
    border-bottom: none;

    .nav-link:before {
      height: 3px;
      bottom: initial;
      top: 0px;
    }
  }

  .active {
    .yoo-card-meta.yoo-style1 .yoo-card-meta-number {
      font-weight: 400;
    }
  }
}

.yoo-selected-language {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-flex;
  margin-left: 6px;
  font-weight: 500;
  position: relative;
  top: 1px
}

.yoo-toggle-body.yoo-language-nav {
  .yoo-dropdown a {
    padding: 9px 20px;
  }
}

/* Header Responsive */
.yoo-ex-nav.yoo-style1 {
  .yoo-search.yoo-style1 {
    position: relative;
    width: 240px;
  }

  .yoo-search.yoo-style1 .yoo-search-input {
    color: #fff;
    padding-left: 42px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

  .yoo-search.yoo-style1 .yoo-search-submit {
    color: rgba(255, 255, 255, 0.87);
    left: 7px;

    &:hover {
      color: #fff;
    }
  }

  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.87);
  }

  input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.87);
  }

  input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.87);
  }

  input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.87);
  }
}

.yoo-white-base {
  &.yoo-header {
    background: transparent;
    border: none;
  }

  .yoo-main-header-right {
    border: 1px solid $base-color4;
    background-color: #fff;
  }

  .yoo-nav-list>li>a {
    color: rgba(0, 0, 0, 0.87);
  }

  .yoo-nav-list>li>a>i {
    color: rgba(0, 0, 0, 0.7);
  }

  .yoo-profile-nav.yoo-style1 .yoo-profile-nav-text span {
    color: $base-color3;
  }

  .yoo-profile-nav.yoo-style1 .yoo-profile-nav-text h4 {
    color: $base-color2;
  }

  .yoo-ex-nav-btn {
    color: rgba(0, 0, 0, 0.7);
  }

  .yoo-search-btn.yoo-toggle-btn:before,
  .yoo-search-btn.yoo-toggle-btn:after,
  .yoo-message-btn.yoo-toggle-btn:before,
  .yoo-message-btn.yoo-toggle-btn:after,
  .yoo-notice-btn.yoo-toggle-btn:before,
  .yoo-notice-btn.yoo-toggle-btn:after,
  .yoo-app-btn.yoo-toggle-btn:before,
  .yoo-app-btn.yoo-toggle-btn:after {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .yoo-toggle-body:hover .yoo-ex-nav-btn {
    color: $base-color1;
  }

  .yoo-profile-nav.yoo-style1 {
    border-color: $base-color4;
  }

  .yoo-ex-nav.yoo-style1 .yoo-search.yoo-style1 .yoo-search-input {
    color: $base-color1;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .yoo-ex-nav.yoo-style1 {
    input::-webkit-input-placeholder {
      color: $base-color1;
    }

    input::-moz-placeholder {
      color: $base-color1;
    }

    input:-ms-input-placeholder {
      color: $base-color1;
    }

    input:-moz-placeholder {
      color: $base-color1;
    }
  }

  .yoo-ex-nav.yoo-style1 .yoo-search.yoo-style1 .yoo-search-submit {
    color: rgba(0, 0, 0, 0.87);
  }

  .yoo-main-header-left {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: none;
  }

  &.yoo-type1 {
    .yoo-main-header-left {
      background: transparent;
      height: inherit;

    }
  }

  &.yoo-type2 {
    background: transparent;
    border: none;

    .yoo-main-header-left {
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .yoo-main-header-right {
      background-color: #fff;
      border-bottom: 1px solid $base-color4;
    }
  }

  .yoo-nav-toggle {
    color: $base-color1;

  }
}

.yoo-toggle-body.yoo-language-nav .yoo-toggle-btn {
  padding: 0 2px 0 6px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

.yoo-search-toggle-mb {
  display: none !important;
}

.yoo-language-nav .yoo-toggle-btn {
  line-height: 1.355em;
}

@media screen and (max-width: 1400px) {
  .yoo-ex-nav.yoo-style1 .yoo-search.yoo-style1 {
    width: 149px;
  }

  .yoo-nav-list>li>a>i {
    margin-right: 8px;
  }

  .yoo-desktop-nav .yoo-nav-list>li {
    margin-left: 20px;
  }

  .yoo-ex-nav.yoo-style1>li:not(:last-child) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .yoo-sidebar-active {
    .yoo-main-header-left {
      margin-left: -196px;
    }

    .yoo-sidebarheader-toggle {
      left: 27px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .yoo-nav-list ul a {
    color: rgba(255, 255, 255, 0.87);
  }

  .yoo-mobile-nav .yoo-megamenu-title {
    color: rgba(255, 255, 255, 0.38);
  }

  .yoo-main-header-right,
  .yoo-main-header-left {
    padding: 0 20px;
  }

  .yoo-main-header-left {
    margin-left: 0px;
    padding-left: 60px;
    border: none;
    width: initial;
    border-right: 1px solid rgba(255, 255, 255, 0.1)
  }

  .yoo-logo-link img {
    height: 24px;
  }

  .yoo-nav-list>li>a>i {
    display: none;
  }

  .yoo-white-base.yoo-header {
    background: $indigo-color;
  }
}

@media screen and (max-width: 991px) {
  .yoo-main-header-right {
    padding: 0 20px;
  }

  .yoo-profile-nav.yoo-style1 .yoo-profile-nav-text {
    display: none;
  }

  .yoo-profile-nav.yoo-style1 {
    margin-left: 0px;
    padding-left: 15px;
  }

  .yoo-ex-nav.yoo-style1 .yoo-search.yoo-style1 {
    width: 200px;
    position: absolute;
    top: 40px;
    background-color: #000;
    right: 0;
    border-radius: 4px;
  }

  .yoo-search-wrap {
    position: relative;
  }

  .yoo-search-toggle-mb {
    display: block !important;
  }

  .yoo-search-wrap .yoo-search.yoo-style1 {
    display: none;
  }

  .yoo-search-wrap .yoo-search.yoo-style1.active {
    display: block;

  }

  .yoo-white-base .yoo-ex-nav.yoo-style1 .yoo-search.yoo-style1 {
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .yoo-language-nav {
    .yoo-selected-language {
      display: none;
    }

    .yoo-language-arrow {
      display: none;
    }
  }

  .yoo-toggle-body.yoo-language-nav .yoo-toggle-btn {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .yoo-main-header .yoo-toggle-body {
    position: initial;
  }

  .yoo-main-header .yoo-toggle-body .yoo-dropdown.yoo-notify-dropdown {
    right: initial;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .yoo-mobile-nav .yoo-megamenu-col {
    padding: 0;
  }
}


@media screen and (max-width: 510px) {

  .yoo-logo-link img {
    height: 22px;

  }

  .yoo-ex-nav-btn {
    font-size: 20px;
  }

  .yoo-ex-nav.yoo-style1>li:not(:last-child) {
    margin-right: 12px;

  }

  .yoo-main-header-left {
    padding: 0 15px;
    padding-left: 55px;
  }

  .yoo-main-header-right {
    padding-left: 15px;
  }

  .yoo-profile-nav.yoo-style1 {
    padding-left: 0;
    border: none;
  }

  .yoo-profile-nav.yoo-style1 .yoo-profile-nav-img {
    height: 26px;
    width: 26px;
  }
}

@media screen and (max-width: 400px) {
  .yoo-logo-link img {
    height: 20px;
  }

  .yoo-ex-nav.yoo-style1>li:not(:last-child) {
    margin-right: 8px;
  }

  .yoo-profile-nav.yoo-style1 .yoo-profile-nav-img {
    height: 22px;
    width: 22px;
  }

  .yoo-ex-nav-btn {
    font-size: 18px;
  }
}


/*========== End Header  ==========*/
